{% extends "app_quotes/base.html" %}

{% block content %}


<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <div>
        <label> Username:
            {{ form.username }}
        </label>
    </div>
    <br>
    <div>
        <label>Password:
            {{ form.password }}
        </label>
    </div>
    <br>
    <div class="grid">
        <button type="submit">Submit</button>
        <button type="reset" class="secondary">Reset</button>
    </div>
    <br>
    <div class="small text-center"><a href="{% url "users:password_reset" %}" ><i>Forgot Password?</i></a>
    </div>
</form>

{% endblock %}