{% extends "app_quotes/base.html" %}

{% block content %}

<main class="container">


<ul>
    {% for quote in quotes %}
    <li>
        <p>{{ quote.quote }}</p>
        <p>by <a href="{% url 'app_quotes:author_detail' quote.author.id %}">{{ quote.author}}</a></p>
        {% for tag in quote.tags.all %}
        <li>
            {{ tag.tag }}
        </li>
        {% endfor %}
        <hr>
    </li>
    {% endfor %}
</ul>
    <ul class="pager">

        <li class="previous">
            <a class="{% if not quotes.has_previous %} disabled {% endif %}" href="{% if quotes.has_previous %} {% url 'app_quotes:main_paginate' quotes.previous_page_number %} {% else %} # {% endif %}">
                Previous
            </a>
        </li>

        <li class="next">
            <a class="{% if not quotes.has_next %} disabled {% endif %}" href="{% if quotes.has_next %} {% url 'app_quotes:main_paginate' quotes.next_page_number %} {% else %} # {% endif %}">
                Next
            </a>
        </li>
    </ul>
</main>
{% endblock %}
